@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
}

:root {
	--border: #212121;
}

html {
	font-family: "Crimson Pro", "Times New Roman", serif
}

body > header {
	background-color: #869FA8;
}

header > nav {
	font-size: 1.15rem;
	line-height: 1.5rem;
	padding: 0.5rem 0 0 0;
	font-family: "Crimson Pro Semibold";
}

header > nav a:hover,
header > nav a.current,
header > nav a[aria-current="page"],
header > nav a[aria-current="true"] {
	border-color: #fff;
	color: #fff;
	cursor: #fff;
}

body > footer {
  margin-top: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.44rem;
	margin-top: 1.84rem;
}

h3 {
	font-size: 1.15rem;
	margin-top: ;
}

p {
	margin: 0.5rem 0;
}	

img {
	margin: 0.75rem 0;
	opacity: 1;
}

a,
a:visited {
	color: #438DA8;
	text-decoration: underline;
	text-decoration-style: dotted;
}

table {
	margin: 0rem 0;
}

td {
	vertical-align: top;
}

th {
  background-color: hsl(196, 20, 99);
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background-color: #fff;
}